.container
    height: calc(100vh - 265px)

    .title_search
        color: #4B9F8E
        padding-top: 15px
        display: flex
        justify-content: space-between

        .form-group
            display: flex
            align-items: center

            input
                border-radius: 20px
                border-color: #01CEB6
                width: 350px

            .icon_search
                position: relative
                right: 28px
                color: #01CEB6

    .table_container
        width: 100%
        overflow: auto

        .table
            border: solid
            border-width: 1px
            border-color: lightgray
            margin: 10px
            width: 97%
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)

        thead
            color: #4B9F8E

            th
                font-weight: 600

        th, td
            text-align: center

        .checkbox
            cursor: pointer

        .icon_delete
            color: red
            cursor: pointer

    .logo_github_container
        position: absolute
        right: 10px
        bottom: 10px

        .logo_github
            width: 100px

    .pagination_content
        display: flex
        justify-content: center

/* color de checkbox */

input[type="checkbox"]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    font-size: 14px
    width: 20px
    height: 20px
    border: 2px solid darkgray
    border-radius: 5px
    outline: none
    line-height: 20px
    margin: 0px auto

input[type="checkbox"]:checked
    font-size: 14px
    color: white
    border: 2px solid #01CEB6
    background-color: #01CEB6
    border-radius: 5px
    width: 20px
    height: 20px
    align-items: center
    justify-content: center
    display: flex

input[type="checkbox"]:checked:before
    content: "\2713"
    font-size: 14px
    color: white
    background-color: #01CEB6
    border-radius: 5px
    text-align: center

::ng-deep .ngx-pagination li
    margin: 0px 7px

::ng-deep .ngx-pagination .current
    padding: 3px 7px !important
    border-radius: 8px !important
    background: #FFC183 !important

::ng-deep .ngx-pagination li:not(.pagination-next, .pagination-previous) a
    padding: 3px 7px !important
    border-radius: 8px !important
    background: darkgray !important
    color: white

::ng-deep .ngx-pagination a:hover
    background: none !important
    text-decoration: none !important


@media (max-width: 992px)
    .container
        max-width: 780px

@media (max-width: 800px)
    .container
        max-width: 700px

@media (max-width: 670px)
    .container
        height: calc(100vh - 347px)
    .title_search
        display: grid !important
        row-gap: 10px

    .form-group
        input
            width: 100% !important

    .logo_github_container
        position: absolute
        top: 8px !important
        right: 8px !important
        bottom: auto !important

        .logo_github
            width: 70px !important
