.container
    height: calc(100vh - 265px)

    .titie_search
        color: #4B9F8E
        padding-top: 15px
        display: flex
        justify-content: space-between

        .form-group
            display: flex
            align-items: center

            input
                border-radius: 20px
                border-color: #01CEB6
                width: 350px

            .icon_search
                position: relative
                right: 28px
                color: #01CEB6

    thead
        color: #4B9F8E

    th, td
        text-align: center

    .icon_delete
        color: red

    .logo_github_container
        position: absolute
        right: 10px
        bottom: 10px

        .logo_github
            width: 100px
